<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	<link rel="stylesheet" href="/css/style.css">
	<title>Administration</title>
</head>
<body ng-app="profile" ng-controller="adminUsers">
	<header ng-include="'/templates/menu.html'"></header>
	<div class="container">
		<div class="inner" ng-show="editFrame" id="editFrame">
			<p>Editing profile for user {{edit.username}}</p>
			<label>Firstname:</label>
			<input type="text" ng-model="edit.firstname" value="edit.firstname">
			<label>Surename:</label>
			<input type="text" ng-model="edit.surename" value="edit.surename">
			<label>Email:</label>
			<input type="text" ng-model="edit.email" value="edit.email">
			<label>Role:</label>
			<select ng-model="edit.role">
				<option>needAccept</option>
				<option>student</option>
				<option>company</option>
				<option>sponsor</option>
				<option>teacher</option>
				<option>admin</option>
			</select>
			<label>Class:</label>
			<input type="text" ng-model="edit.class" value="edit.class">
			<label>School:</label>
			<input type="text" ng-model="edit.school" value="edit.school">
			<label>City:</label>
			<input type="text" ng-model="edit.city" value="edit.city">
			<label>Skills:</label>
			<input type="text" ng-model="edit.skills" value="edit.skills">
			<button class="cta" ng-click="saveUser()">Save</button>
			<button ng-click="editFrame = false">Cancel</button>
		</div>
	</div>
	<div class="message" ng-model="message" ng-hide="hide">{{message}}</div>
	<div class="container">
		<div class="inner center" ng-model="needAccept">{{needAccept}} {{needAcceptMsg}} <a href="" ng-click="showNeedAccept()">Show users</a></div>
	</div>
	<div class="container">
		<div class="inner">
			<div class="sort">
				<button ng-click="show('A-E')">A-E</button>
				<button ng-click="show('F-J')">F-J</button>
				<button ng-click="show('K-O')">K-O</button>
				<button ng-click="show('P-T')">P-T</button>
				<button ng-click="show('U-Z')">U-Z</button>
			</div>
			<div class="search">
				<input type="text" ng-model="search">
				<button ng-click="show(search)">Search</button>
			</div>
		</div>
		<div class="inner">
			<table id="admin-users">
				<thead>
					<th><a href="" ng-click="listOrder('username')">Username</a></th>
					<th><a href="" ng-click="listOrder('email')">Email</a></th>
					<th><a href="" ng-click="listOrder(['role','username'])">Role</a></th>
					<th></th>
					<th></th>
				</thead>
				<tbody ng-repeat="user in users | orderBy: order:reverse">
					<tr>
						<td><a href="/profile/{{user.username}}">{{user.username}}</a></td>
						<td>{{user.email}}</td>
						<td>{{user.role}}</td>
						<td><button ng-click="editUser()" class="cta edit-button">Edit</button></td>
						<td><button ng-click="deleteUser(user._id,$index)" class="warning">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
<script src="/js/app.js"></script>
<script src="/js/admin.controller.js"></script>
<script src="/js/directives.js"></script>
</body>
</html>