<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	<link rel="stylesheet" href="/css/style.css">
	<title>Profile</title>
</head>
<body ng-app="profile" ng-controller="showProfile">
	<header main-menu></header>
	<div class="container" ng-if="editFrame">
		<div class="inner" id="editFrame">
			<p>Editing profile for user {{edit.username}}</p>
			<label>Firstname:</label>
			<input type="text" ng-model="edit.firstname" value="edit.firstname">
			<label>Surname:</label>
			<input type="text" ng-model="edit.surename" value="edit.surename">
			<label>Email:</label>
			<input type="text" ng-model="edit.email" value="edit.email">
			<label>Class:</label>
			<input type="text" ng-model="edit.class" value="edit.class">
			<label>School:</label>
			<input type="text" ng-model="edit.school" value="edit.school">
			<label>City:</label>
			<input type="text" ng-model="edit.city" value="edit.city">
			<label>Skills:</label>
			<input type="text" ng-model="edit.skills" value="edit.skills">
			<button class="cta" ng-click="saveUser()">Save</button>
			<button ng-click="close()">Cancel</button>
		</div>
	</div>
	<div class="message" ng-model="message" ng-hide="hide">{{message}}</div>
	<div class="container">
		<div class="row">
			<div class="profile-header">
				<h2 ng-model="user.username">{{user.username}}</h2>
				<a href="" ng-if="isOwner" ng-hide="editFrame" ng-click="editUser()">[edit profile]</a>
				<div class="profile-picture">
					<img src="/images/{{user.username}}.jpg" alt="{{user.username}} profile picture">
					<div class="profile-picture-overlay" ng-if="isOwner">
						<button ngf-select="upload($file)">Change picture</button>
					</div>
				</div>
			</div>
			<div class="profile-userinfo">
				<h3>Personal information</h3>
				<div ng-model="user.email">Email: {{user.email}}</div>
				<div ng-model="user.role">Role: {{user.role}}</div>
				<div ng-model="user.school">School: {{user.school}}</div>
				<div ng-model="user.city">City: {{user.city}}</div>
				<div ng-model="user.firstname">Firstname: {{user.firstname}}</div>
				<div ng-model="user.surename">Surname: {{user.surename}}</div>
				<div ng-model="user.class">Class: {{user.class}}</div>
			</div>
		</div>
		<div class="profile-timeline">
			<h3>Timeline</h3>
		</div>
		<div class="profile-skills">
			<h3>Skills</h3>
			<div ng-repeat="skill in user.skills">
				<div>{{skill}}</div>
			</div>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
<script src="/js/app.js"></script>
<script src="/js/ng-file-upload.min.js"></script>
<script src="/js/profile.controller.js"></script>
<script src="/js/directives.js"></script>
</body>
</html>