<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	<link rel="stylesheet" href="css/style.css">
	<title>Register</title>
</head>
<body ng-app="profile">
	<header main-menu></header>
	<div class="container" ng-controller="register">
		<div class="inner">
		<form name="register" id="register">
			<label>Username: <span class="required">*</span></label>
			<input type="text" ng-model="username" required>
			<label>Email: <span class="required">*</span></label>
			<input type="text" ng-model="email" required>
			<label>Email (again): <span class="required">*</span></label>
			<input type="text" ng-model="email2" required>
			<label>Password: <span class="required">*</span></label>
			<input type="password" ng-model="password" required>
			<label>Password (again): <span class="required">*</span></label>
			<input type="password" ng-model="password2" required>
			<button ng-click="register.$valid && doRegister()" class="cta">Register</button>
		</form>
		</div>
		<div ng-hide="hide" class="message">{{message}}</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-cookies.js"></script>
<script src="js/app.js"></script>
<script src="js/directives.js"></script>
</body>
</html>